<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ninjas</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='LandingPage.css') }}">
    </head>
    <body>
            <h1>Ninjas:</h1>
            <ul>
                <li>Kai</li>
                <li>Cole</li>
                <li>Zane</li>
                <li>Jay</li>
                <li>Nya</li>
                <li>Sensei</li>
                <li>Lloyd</li>
                <li>Lord</li>
            </ul>
    </body>
</html>